html {
  height: 100%; }

body {
  height: 100%;
  background-color: #DCDCDC;
  box-sizing: border-box;
  color: black; }

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 125px;
  background-color: #003366; }

.principal {
  display: flex;
  flex-flow: row nowrap; }

.logo {
  width: 25%;
  height: 100%;
  padding-left: 1%; }
  .logo img {
    width: 100%; }

#barraBusqueda {
  height: 100%; }
  #barraBusqueda div {
    padding-top: 8%;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-around; }
  #barraBusqueda a {
    padding-top: .5em;
    color: ghostwhite;
    text-decoration: underline; }

#inputBusqueda {
  width: 25em;
  margin: 0 .5em 0 1em;
  padding-left: .5em;
  background-color: ghostwhite;
  border-radius: 0.5em; }

#selectBusqueda {
  background-color: ghostwhite;
  border-radius: 0.5em; }

#botonBusqueda {
  cursor: pointer;
  margin: 0 1em 0 .5em;
  border-radius: 0.5em; }

footer {
  height: 15%;
  background-color: #003366; }

.contenedor_productos {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: .5em; }
  .contenedor_productos .producto {
    position: relative;
    width: 15em;
    height: 15em;
    margin: .5em;
    padding: .5em;
    background-color: ghostwhite;
    border: 2px solid #003366;
    border-radius: 0.5em; }
    .contenedor_productos .producto img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      border: 1px solid black;
      border-radius: 0.5em; }

.enlaces_producto {
  position: absolute;
  width: 90%;
  bottom: 5%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }

.fa-search {
  margin-right: .5em; }

.fa-search-plus {
  margin-left: .5em; }

.fa-user {
  margin-right: .5em; }

.fa-question-circle {
  margin-right: .5em; }

.comprar_producto:hover {
  text-decoration: none;
  font-weight: bold;
  -webkit-transform: scale(1.3) rotate(-10deg);
  -moz-transform: scale(1.3) rotate(-10deg);
  -ms-transform: scale(1.3) rotate(-10deg);
  transform: scale(1.3) rotate(-10deg);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  transition: transform 0.5s; }

#login {
  font-size: 110%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  color: ghostwhite;
  margin-right: 1em; }
  #login div {
    padding-top: 8%;
    cursor: pointer; }
  #login a {
    color: ghostwhite;
    text-decoration: none; }

#loginDialog p {
  font-weight: bold; }

.data {
  display: none; }

.ui-dialog-titlebar {
  background-color: #003366;
  color: ghostwhite; }

.ui-dialog {
  background-color: ghostwhite; }

footer {
  height: 125px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: ghostwhite; }

.ayuda {
  height: 100%;
  padding-top: 1em;
  padding-left: 1em;
  font-size: 110%; }

.cc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center; }
  .cc p {
    padding-top: .5em;
    text-align: center; }

.direccion {
  height: 100%;
  padding-top: 1em;
  padding-right: 1em;
  overflow: hidden; }

#categorias {
  height: 125px;
  background-color: #0066CC;
  color: ghostwhite;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  #categorias div {
    margin-top: .5em;
    margin-left: .5em;
    margin-right: .5em;
    text-align: center;
    cursor: pointer; }
    #categorias div img {
      width: 80%;
      border-radius: 3em; }
    #categorias div:hover {
      -webkit-transform: scale(1.1) scale(1.1);
      -moz-transform: scale(1.1) scale(1.1);
      -ms-transform: scale(1.1) scale(1.1);
      transform: scale(1.1) scale(1.1); }

.data {
  padding-top: 0;
  display: none; }
  .data p {
    display: inline-block;
    font-size: 80%;
    margin-left: .5em; }
  .data img {
    border-radius: 3em; }
  .data button {
    position: relative;
    right: 0; }

#comprarDialog {
  position: relative; }
  #comprarDialog span {
    font-weight: bold; }
  #comprarDialog button {
    position: absolute;
    right: 5%; }

#detalleDialog div {
  display: flex;
  justify-content: space-between; }

#avanzadaDialog img {
  width: 60%; }
