body{
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items:center;
  align-content:center;
  background-image: url("./resource/img/wallpaper.jpg");
  background-position: initial;
  background-repeat: repeat-y;
}

.grafico{
  margin: 5px;
  padding: 5px;
  background:white;

  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items:center;
  align-content:center;

}
.barraSup{
  width: 100%;
  background: rgb(246,230,180); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}
